<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<form th:action="@{/students}" method="post" th:object="${student}">
    <label for="name">Name</label>
    <input id="name" type="text" th:field="*{name}" />
    <label for="surname">Surname</label>
    <input id="surname" type="text" th:field="*{surname}" />

    <input type="submit" value="Create" />
</form>

</body>
</html>